.hero {
  padding: 60px 0;
  background: linear-gradient(to right, #ffffff, var(--secondary-color));
}

.hero h1 {
  font-weight: 700;
}

.highlight {
  color: var(--primary-color);
}

.hero img {
  max-width: 100%;
  height: auto;
}



.section-layanan {
  background-color: var(--primary-color);
  color: white;
}

.section-layanan .card {
  background-color: white;
  color: var(--text-dark);
  border-radius: 12px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-layanan .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.section-layanan .icon {
  font-size: 40px;
  color: var(--primary-color);
  margin-bottom: 15px;
}